body {
    /* Configuración del fondo y del contenedor principal */
    background: url('imagenes/cuarto.gif') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
/* Estilos del marcador */
#scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
}

#scoreboard h2 {
    font-size: 2em;
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 10px;
}

#game-container {
    /* Estilos del contenedor del juego */
    text-align: center;
    color: white;
}

.custom-image-container {
    /* Estilos del contenedor de imagen */
    margin: 10px;
    position: relative;
}

.custom-image {
    /* Estilos de imagen */
    width: 100px; 
    height: 100px; 
    cursor: pointer;
    border: 2px solid white; 
    border-radius: 5px; 
    background-size: cover;
}

.result-icon {
    /* Estilos del icono de resultado */
    font-size: 2em;
    margin-bottom: 10px;
}

#score-container {
    /* Estilos del contenedor de puntuación */
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 255, 255, 0.173);
    padding: 10px;
    border-radius: 5px;
}

#score-container div {
    /* Estilos del contenedor de puntuación individual */
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para el contenedor del video */
#how-to-play iframe {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0px 0; /* Ajusta el margen según tus preferencias */
    border: 2px solid #ffffff; /* Añade un borde alrededor del video */
    border-radius: 10px; /* Añade bordes redondeados al contenedor */
